
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=IBM+Plex+Mono&family=Lato&family=Montserrat:wght@300;500&family=Open+Sans:ital,wght@1,400;1,500&family=Orbitron&family=Poppins:ital@1&family=Roboto:wght@100;300&family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=IBM+Plex+Mono&family=Lato&family=Montserrat:wght@300;500&family=Open+Sans:ital,wght@1,400;1,500&family=Orbitron&family=Poppins:ital@1&family=Roboto:wght@100;300&family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Fira+Sans:wght@500&family=IBM+Plex+Mono&family=Lato&family=Montserrat:wght@300;500&family=Open+Sans:ital,wght@1,400;1,500&family=Orbitron&family=Pixelify+Sans:wght@500&family=Poppins:ital@1&family=Roboto:wght@100;300&family=Share+Tech+Mono&family=Sometype+Mono&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato:wght@300;400&family=Montserrat:wght@300;500&family=Noto+Sans+Pahawh+Hmong&family=Open+Sans:wght@400;500&family=Orbitron&family=Oswald&family=Poppins:wght@200&family=Roboto:ital,wght@0,300;0,400;1,400&family=Tilt+Neon&display=swap');



:root{
    --background: #3f3d45;
     --background2:#689b9d;
    --blue: #5b6e8f;
    --offwhite: #dbcdaf;
    --text:#28202c;
   }
   


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    
    background-color: var(--background);
    color: var(--text);
   
   }
   
   
   main{
       margin: 5rem;
       font-family: "Orbitron";
       border-radius: 10px;
       min-height: 100vh;
       border: 5px solid #f2ece6;
       background-color: var(--background2);
   
      
   }


.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 10px;


}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(175, 168, 168);
    outline: none;
    background-color: #3f3d45;
    color: var(--offwhite);
    border-radius: 10px;
}


.calculator-grid > button:hover{
    background-color: #b46565cf;
    transition: 0.45s ease ;
}

.calculator-grid .operation{
    background-color: #bd6d5b;
}


.calculator-grid .operation.operation:hover{
    background-color: #9c4957;
}


.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/ -1;
    background-color:  #9c4957;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
}

.output .previous-operand{
    color: var(--offwhite);
    font-size: 1.5rem;
}

.output .current-operand{
    color: var(--offwhite);
    font-size: 2.5rem;
}

.home-button{

 text-decoration: none;
background: none;
border: 2px solid;
font-family: IBM Plex Mono;
color: var(--offwhite);

text-transform: uppercase;
font-size: 25px;
border-radius: 10px;
padding: 0.5rem;
transition: all 0.3s ease 0s;
margin: 5rem;
}

.home-button:hover,
.home-button:focus{
    box-shadow: 0 0.3em 0.8em -0.1em var(--red);
    transform: translateY(-0.25em);

}